body{
  font-family: Poppins;
  max-width: 1200px;
  margin: 0 auto;


}

img{
  max-width: 100%;
}

.title{
  text-align: center;
  padding: 30px 0;
color:red;
}


.container-products{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.card-product{
  flex: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.container-img{
  flex: 1;
}

.container-img img{
  width: 100%;
  height: 400px;
  object-fit: contain;

}

.info-product{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 30px;
  height: 100%;
color: red;
}

.info-product h3{
  color: #777;
  font-weight: 500;
}


.price{
  color: #000;
  font-weight: 700;
  margin: 15px 0;
  font-size: 1.5rem;
  text-align: center;
}

.info-product button{
  background-color: #000;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  margin-top: auto;
}

button{
  cursor: pointer;
}

.imagenEjemplo{
  width: 100%;
}

.carrito{
  display: flex;
  background-color: #777;
}

.productosCarrito{
  display: flex;

margin: 10px;
text-align: center;
}

.productosCarrito img{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.productoCarrito{
  border: solid black 1px;
margin: 0 2px;
padding: 5px 0;
border-radius: 10px;
}

.total{
  text-align: center;
  color: red;
  font-weight: 700;
}
